@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&display=swap");
* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
body {
  overflow-x: hidden;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  font-size: 14px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.buttonModal{
  padding: 8px;
  background: #00ffaa;
  border-radius: 8px;

}
.modalError{
  background-color: #e55454;
}
.errorPhone{
  border: red 2px solid;
}
nav {
  height: 6rem !important;
  width: 100vw !important;
  background-color: #131418 !important;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2) !important;
  display: flex !important;
  position: fixed !important;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;
}
.logo img {
  height: 3rem;
}
.fade:not(.show) {
  opacity: 1;
}
/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  font-weight: 300 !important;
  text-decoration: none !important;
  margin: 0 0.7vw !important;
  color: #6d6e71 !important;
  font-family: sans-serif !important;
}
.nav-links li a:hover {
  color: #f3d00c !important;
}
.nav-links li {
  position: relative !important;
}
.nav-links li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #f3d00c;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::after {
  width: 80%;
}

/*Styling Buttons*/

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f3d00c;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed !important;
    right: 0px !important;
    background: #131418 !important;
    height: 100vh !important;
    width: 80% !important;
    flex-direction: column !important;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.trangchu {
  line-height: 0;
}
.home-da {
  background: #6d6e71;
  color: #ffffff;
  width: 100%;
}
.title-tongquan {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #f3d00c;
  text-align: center;
}
.title-tongquan p span {
  color: #ed1c24;
}
.content-tongquan {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.img-phada {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.title-cautao,
.img-cautao {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
.title-cautao {
  color: #f3d00c;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 500px) {
  .trangchu img,
  .vechungtoi img {
    height: 500px;
  }
}

.carousel {
  padding: 20px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #f3d00c;
}
.item {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}
.text-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  overflow-x: hidden;
}
.nav {
  justify-content: center;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f3d00c;
  color: #6d6e71;
}
.text-item p span {
  color: #ed1c24;
}
.nav-link {
  color: #131418;
}
.vechungtoi img {
  padding-bottom: 20px;
}
.tab-nav-vechungtoi {
  padding-left: 20px;
  padding-right: 20px;
}
table,
th,
td {
  border: 1px solid black;
  width: 10px;
  text-align: center;
}
.content-abouts {
  margin: 0px;
  padding-top: 20px;
}
table {
  line-height: 50px;
}
.list tr:nth-child(2n + 1) {
  background: #f7f7f7;
}
.title-table {
  color: #f3d00c;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #f3d00c !important;
}
.abs-right {
  padding-bottom: 20px;
}
.abs-right p {
  padding-top: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.abs-right p span {
  color: #ed1c24;
  font-weight: 700;
}
.footer {
  padding: 20px;
  margin: 0px;
  background: lightgoldenrodyellow;
}
.name-company ul li,
.chinhsach ul li {
  list-style: none;
}
.title-footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: 18px;
  padding-left: 30px;
}

.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 22px;
  left: 26px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
  background-color: #e4212a;
  width: 33px;
  height: 33px;
  top: 33px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}

.hotline-bar {
  position: absolute;
  background: #e88a25;
  background: -webkit-linear-gradient(left, #e88a25, #d40000);
  background: -o-linear-gradient(right, #e88a25, #d40000);
  background: -moz-linear-gradient(right, #e88a25, #d40000);
  background: linear-gradient(to right, #e88a25, #e4212a);
  height: 40px;
  width: 200px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  border: 2px solid #fff;
  left: 33px;
  bottom: 37px;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 38px;
  font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}

.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}
img {
  border: none;
}

.hotline-phone-ring-wrap {
  position: fixed !important;
  bottom: 0;
  left: 0;
  z-index: 1111111;
}

.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}

.float-icon-hotline {
  display: block;
  width: 40px;
  position: fixed;
  bottom: 85px;
  left: 33px;
  z-index: 999999;
}

.float-icon-hotline ul {
  display: block;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}
.float-icon-hotline ul li {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.float-icon-hotline ul li a#messengerButton {
  padding: 0px !important;
  background: transparent !important;
  border: 0px !important;
}
@media only screen and (min-width: 960px) {
  .float-icon-hotline ul li .fa {
    background-size: contain !important;
  }
}
.float-icon-hotline ul li .fa-phone {
  background-color: #ed1c24;
}
.float-icon-hotline ul li .fa {
  background-color: #ed1c24;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border: 2px solid #fff;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.tada {
  animation-name: tada;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.float-icon-hotline ul li span {
  display: inline-block;
  padding: 0;
  background-color: #ff6a00;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  height: 40px;
  line-height: 36px;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ff6a00;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
}

ul.left-icon.hotline {
  margin-left: 0px !important;
}

.float-icon-hotline ul li .fa-zalo {
  background: url(https://netweb.vn/img/hotline/zalo.png) center center
    no-repeat;
  background-size: cover;
}
.float-icon-hotline ul li .fa-zalo:hover {
  background: #ef0303 url(https://netweb.vn/img/hotline/zalo.png) center center
    no-repeat;
  opacity: 0.5;
}
.float-icon-hotline ul li .fa-messenger {
  background: url(https://netweb.vn/img/hotline/fb.png) center center no-repeat;
  background-size: cover;
}
.float-icon-hotline ul li .fa-messenger:hover {
  background: #168efb url(https://netweb.vn/img/hotline/fb.png) center center
    no-repeat;
  opacity: 0.5;
}
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #ed1c24;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #dc2f55;
}
.form-lienhe {
  margin: 0px;
  padding: 20px;
  background-color: #6d6e71;
  overflow-x: hidden;
}
.form-lh {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.title-form {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #f3d00c;
  padding: 15px;
  text-align: center;
  background-color: #6d6e71;
}
.img-form {
  text-align: center;
  display: flex;
  justify-content: center;
}

.chitietsanpham {
  overflow-x: hidden;
}
.modal-content {
  margin: auto;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonModal {
  background-color: #ed1c24;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 12px;
}
